* {
    margin: 0;
    padding: 0;
}

.screen_aspect_ratio {
    aspect-ratio: 9/16;
    border-style: solid;
    border-radius: 1vh;
    border-color: black;
    background-color: rgb(247, 247, 247);
    max-height: 98vh;
    margin: auto;
    position: relative;
    top:0;bottom:0;
    left:0;right:0;
}

.top-bar {
    height: 10%;
}

.body {
    height: 90%;
}

.image {
    position: absolute;
    height: auto;
    display: block;
}

.img_Detective {
    
}

.img_Balance {
    max-height: 10vh;
    top: 0;
    left: 0;
}

.img_History {
    max-height: 10vh;
    top: 0;
    left: 0;
}

.img_Settings {
    max-height: 10vh;
    top: 0;
    left: 0;
}

/*------------------ Font Link ------------------*/

    /*------------------ Colors ------------------*/

    /*------------------ Font ------------------*/
