* {
    margin: 0;
    padding: 0;
}

:root {
    --top-bar-size: 20%;
    --body-size: 80%;
}

.screen_aspect_ratio {
    aspect-ratio: 9/16;
    border-style: solid;
    border-radius: 1vh;
    border-color: black;
    background-color: rgb(247, 247, 247);
    max-height: 98vh;
    margin: auto;
    position: relative;
    top:0;bottom:0;
    left:0;right:0;
}

.main {
    height: 100%;
    background-image: url('Detective.svg'), linear-gradient(rgb(96,78,66), rgb(94,76,64), rgb(96,78,66));
    background-repeat: no-repeat;
    background-size: 90%, 100% 40.2%;
    background-position-x: center;
    background-position-y: 30%, 100%;
    filter: drop-shadow(-0.5vh 0.6vh 0.3vh rgba(0, 0, 0, 0.39));
}

.top-bar {
    height: var(--top-bar-size);
    width: 100%;
    display: flex;
}

.tb-child {
    height: 100%;
    margin-left: 1%;
}

.body {
    height: var(--body-size);
    display: flex;
    flex-direction: column;
}

.dialog-box {
    border-style: solid;
    border-radius: 1vh;
    border-color: black;
    border-width: thin;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: 2%;
}

.dialog-options-wrapper {
    display: flex;
    flex-direction: column-reverse;
    bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 8%;
}

.dialog-options {
    position:relative;
    display: block;
    background-color: rgba(94, 54, 29, 0.5);
    border-style: outset;
    border-color: #5e361d;
    margin-top: 2%;
    height: 20%;
    font-size: inherit;
}

.image {
    height: 100%;
    object-fit: scale-down;
    display: block;
}

.img-balance {
    height: 100%;
    position: relative;
    bottom: 20%;
}

.img-history {
    height: 60%;
    position: relative;
    bottom: 20%;
}

.float-down {
    transition: 0.5s;
}

.float-down:hover {
    transform: translateY(20%)
}

.img-settings {
    height: 60%;
    position: relative;
    bottom: 20%;
}

/*------------------ Font Link ------------------*/

    /*------------------ Colors ------------------*/

    /*------------------ Font ------------------*/
