@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    font-size: inherit;
    cursor:default;
    /*text-indent: 2%;*/
}

:root {
    --top-bar-size: 20%;
    --body-size: 80%;
    --dialog-background-colour: rgba(169,151,132, 0.8);
    --dialog-border-colour:  rgb(42,32,23);
    --dialog-hover-colour: #a08065;
    --text-size-multiplyer: 2;
}

h1 {
    font-size: 2em;
}

.screen_aspect_ratio {
    aspect-ratio: 9/16;
    border-style: solid;
    border-radius: 1vh;
    border-color: black;
    background-color: rgb(247, 247, 247);
    max-height: 98vh;
    margin: auto;
    position: relative;
    top:0;bottom:0;
    left:0;right:0;
}

.main {
    height: 100%;
    background-image: url('Detective.svg'), linear-gradient(rgb(93,79,68), rgb(77, 67, 59), rgb(59, 52, 46));
    background-repeat: no-repeat;
    background-size: 90%, 100% 40.2%;
    background-position-x: center;
    background-position-y: 30%, 100%;
    filter: drop-shadow(-0.5vh 0.6vh 0.3vh rgba(0, 0, 0, 0.39));
    font-size: calc(var(--text-size-multiplyer)*1vh);
}

.top-bar {
    height: var(--top-bar-size);
    width: 100%;
    display: flex;
}

.tb-child {
    height: 100%;
    margin-left: 1%;
    position: relative;
}

.body {
    height: var(--body-size);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
}

.tb-body{
    height: 100%;
    background-color: #cdb9a5;
    display: flex;
    flex-direction: column;
}

.budget-form-wrapper{
    height:50%;
    width: 80%;
    background-image: url('Form.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 0;    
}

.budget-form{
    margin-top: 15%;
    height: 80%;
    width: 90%;
    margin-left: 4%;
    overflow-y: auto;
    border-style: solid;
    border-color: #b5a28e;
    border-radius: 1vh;
    line-height: 1.8;
}

.budget-item-wrapper{
    margin-top: 1.5%;
    margin-bottom: 1%;
    margin-left: 5%;
    display: flex;
    align-content: stretch;
    height: 20%;
    width: 90%;
    justify-content: space-between;
    vertical-align: middle;
    border-bottom: 0.3vh double #b5a28e;
    align-items: center;
  
}

.dialog-options-wrapper {
    display: flex;
    flex-direction: column-reverse;
    bottom: 0;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 8%;
}

.dialog-options {
    position:relative;
    display: block;
    background-color: var(--dialog-background-colour);
    border-style: outset;
    border-color: var(--dialog-border-colour);
    margin-top: 2%;
    font-size: 1.2em;
    cursor: pointer;
    padding: 1% 2%;
    padding-bottom: 0.5%;
}

.dialog-options:hover {
    border-style: inset;
    background-color: var(--dialog-hover-colour)
}

/*.total-balance {
    font-size: 0.5em;
}*/

.image {
    height: 100%;
    object-fit: scale-down;
    display: block;
}

.img-balance {
    height: 100%;
    position: relative;
    bottom: 20%;
}

.img-history {
    height: 60%;
    position: relative;
    bottom: 20%;
    cursor: pointer;
}

.float-down {
    transition: 0.5s;
}

.float-down:hover {
    transform: translateY(20%)
}

.img-settings {
    height: 60%;
    position: relative;
    bottom: 20%;
    cursor: pointer;
}

 
.text-block {
    position: absolute;
    font-size: 1.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.mouse_pointer {
    cursor: pointer;
}

#donutchart{
    /*padding-top: 50px;*/
    margin-top: 13%;
    width: 98%;
    height: 80%;
    /*width: 500px;
    height: 300px;*/
    border-style: solid;
    border-color: #b5a28e;
    border-radius: 1vh;
    line-height: 1.8;
}

th {
    background-color: #99775c;
}

select{
    cursor: pointer;
}

option{
    cursor: pointer;
}

button{
    background-color: #99775c;
    border-color: #5e361d;
    font-size: 1.5em;
    cursor: pointer;
    border-style:outset;
}

table{
    width: 100%;
}

button.edit-button, .apply {
    font-size: 1em;
}

button:hover{
    background-color: #72553e;
    border-style:inset;
}

input{
    cursor:text;
}

@media (max-aspect-ratio: 9/16) {
    .main {
        font-size: calc(var(--text-size-multiplyer)*1vw/(9/16));
    }
}


/*-----------------------Detective Dialogue-----------------------------*/
.box{
	border-style: outset;
	border-color: var(--dialog-border-colour);
 	background: var(--dialog-background-colour);
 	display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: auto;
    margin-bottom: 2%;
    width: 100%;
    height: 25%;
}

.typing{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 2%;
    padding-right: 2%;
    width: auto;
    /*animation: typing 2s steps(44), blink .5s step-end infinite alternate;*/
    animation: fade-in 2s;
    opacity: 1;
    white-space: wrap;
    overflow-y: auto;
    /*border-right: 3px solid;*/
	font-size: 2em;
}

.optional{
    font-size: 0.7em;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}



